<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233814057699-itgat32m3tk3rhidrb1jpu75dc4sl13d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233814057699-itgat32m3tk3rhidrb1jpu75dc4sl13d</string>
	<key>API_KEY</key>
	<string>AIzaSyC4LM_a60SaFJ2YVrnREpRIiC3cocQJDcw</string>
	<key>GCM_SENDER_ID</key>
	<string>233814057699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lecture.lite.shop</string>
	<key>PROJECT_ID</key>
	<string>app-lite-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>app-lite-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233814057699:ios:b838f5f2ccbc104ba0dbd6</string>
	<key>DATABASE_URL</key>
	<string>https://app-lite-shop-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>